In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df=pd.read_csv("DD.csv")
df.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnant           768 non-null    int64
 1   Glucose            763 non-null    float64
 2   Diastolic_BP       733 non-null    float64
 3   Skin_Fold          541 non-null    float64
 4   Serum_Insulin      394 non-null    float64
 5   BMI                757 non-null    float64
 6   Diabetes_Pedigree  768 non-null    float64
 7   Age                768 non-null    int64
 8   Class              768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [3]:
df2=df.copy()
df2=df2.drop(['Pregnant','Glucose','Skin_Fold','Serum_Insulin','Diabetes_Pedigree','Age','Class'],axis=1)
df2

     Diastolic_BP   BMI
0            72.0  33.6
1            66.0  26.6
2            64.0  23.3
3            66.0  28.1
4            40.0  43.1
..            ...   ...
763          76.0  32.9
764          70.0  36.8
765          72.0  26.2
766          60.0  30.1
767          70.0  30.4

[768 rows x 2 columns]

In [4]:
model=LinearRegression()
#first do train non null dataset
df_train=df2.dropna(subset=['BMI','Diastolic_BP'])
#now train data
model.fit(df_train[['BMI']],df_train['Diastolic_BP'])
#NOW WANT TO PREDICT
#SO FIRST CHECK WHERE DIASTOLIC IS NULL
df_p=df2.loc[df2['Diastolic_BP'].isnull(),['BMI']]
#ENSURE BMI NOT NULL
df_p_1=df_p.dropna(subset=['BMI'])
df_p_1.head()

      BMI
7    35.3
15   30.0
78   43.2
172  28.9
193  52.3

In [5]:
# PREDICT DIASTOLIC BP
df_predict=model.predict(df_p_1[['BMI']])
update_index=df_p_1.index
#here we set updated Diastolic_BP in original dataset df2
df2.loc[update_index,'Diastolic_BP']=df_predict
df2

     Diastolic_BP   BMI
0            72.0  33.6
1            66.0  26.6
2            64.0  23.3
3            66.0  28.1
4            40.0  43.1
..            ...   ...
763          76.0  32.9
764          70.0  36.8
765          72.0  26.2
766          60.0  30.1
767          70.0  30.4

[768 rows x 2 columns]

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Diastolic_BP  761 non-null    float64
 1   BMI           757 non-null    float64
dtypes: float64(2)
memory usage: 12.1 KB

In [9]:
import openpyxl
df2.to_excel('complete.xlsx')

AttributeError: 'NoneType' object has no attribute 'to_excel'